<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mymusic</title>
    <style>
        body{
            list-style: none;
        }
    </style>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name = "name" placeholder="songname/singer">
        <input type="submit" value="搜索">
    </form>
    <ul>
        {% for music in data %}
        <li>{{ loop.index }},<a href={{ music.url }}>{{ music.name }}-{{ music.singer }}</a>
            <span>该榜单排名{{ music.rank }}</span></li></br>
        {% endfor %}
    </ul>
    <ul>
        {% for song in all_song %}
        <li>{{ loop.index }},<a href={{ song.1 }}>{{ song.0 }}</a>
            <span>{{ song.2 }}---{{ song.3 }}</span></li></br>
        {% endfor %}
    </ul>
</body>
</html>